@page "/categories"
@using MudBlazor
@using Shop.Common
@using Shop.Entities

@inject IDialogService DialogService
@inject ApiClient ApiClient

<h3>Categories</h3>

    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" OnClick="OpenAddDialog" />
<MudPaper>
    <MudTreeView Items="@TreeItems">
        <ItemTemplate>
            <MudTreeViewItem @bind-Expanded="@context.Expanded" Items="@context.Children" Value="@context.Value" Text="@context.Text" OnClick="@(() => OpenDialog(context))">   
            </MudTreeViewItem>
        </ItemTemplate>
    </MudTreeView>
</MudPaper>

@code {

    public List<TreeItemData<object>> TreeItems { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    async Task LoadData()
    {
        var categories = await ApiClient.GetChildren(null);
        TreeItems = (await CreateTree(categories)).ToList();
    }


    async Task OpenDialog(TreeItemData<object> context)
    {
        if (context.Value is Product product)
        {
            var parameters = new DialogParameters
            {
                { "Product", product }
            };

            var dialog = await DialogService.ShowAsync<DialogProduct>("Товар", parameters);
            var result = await dialog.Result;

            if (!result.Canceled)
                await LoadData(); 
        }

        else if (context.Value is Category category)
        {
            var parameters = new DialogParameters
            {
                { "Category", category },
                {"IsCreate", false }

            };

            var dialog = await DialogService.ShowAsync<DialogCategory>("Категория", parameters);
            var result = await dialog.Result;

            if (!result.Canceled)
                await LoadData(); 
        }
    }


    TreeItemData<object> CreateTreeItemData(string text, object value, List<TreeItemData<object>> children = null)
    {
        return new TreeItemData<object>()
        {
            Text = text,
            Value = value,
            Children = children
        };
    }

    async Task<IEnumerable<TreeItemData<object>>> CreateTree(IEnumerable<Category> categories)
    {
        List<TreeItemData<object>> result = new List<TreeItemData<object>>();
        foreach (var category in categories)
        {
            result.Add(CreateTreeItemData(
                category.Name,
                category,
              (await BuildChildren(category)).ToList())
    );
        }
        return result;
    }

    async Task<List<TreeItemData<object>>> BuildChildren(Category category)
    {
        var items = new List<TreeItemData<object>>();


        var children = await ApiClient.GetChildren(category.Id);
        category.Children = children;
        if (category.Children != null)
        {
           foreach(var child in children){ var moreChildren = await BuildChildren(child); items.Add(CreateTreeItemData(child.Name,child,moreChildren));}
        }

     
        if (category.Products != null)
        {
            items.AddRange(category.Products.Select(p =>
                CreateTreeItemData(p.Name, p)));
        }

        return items;
    }
    private async Task OpenAddDialog()
    {
        var parameters = new DialogParameters
        {
            ["Category"] = new Category(),
            ["IsCreate"] = true 
        };

        var dialog = DialogService.Show<DialogCategory>("Новая категория", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await LoadData(); 
        }
    }
}
 